.overwatchUI {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.overwatchUI button {
  padding: 20px;
  background-color: red;
}

.overwatchUI .hex {
  filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);
}
